* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

form {
    background-color: #ffffff;
    padding: 15px; /* Reduzido de 20px para 15px */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* Reduzido de 400px para 300px */
    max-width: 300px; /* Ajustado para corresponder à nova largura */
}

label {
    font-size: 14px; /* Reduzido de 16px para 14px */
    margin-bottom: 8px; /* Ajustado para um espaçamento mais compacto */
    display: block;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px; /* Reduzido para tornar os inputs mais compactos */
    margin-bottom: 10px; /* Espaço entre os campos ajustado */
    border: 1px solid #ddd; /* Borda mais fina */
    border-radius: 4px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #003580;
}

input[readonly] {
    background-color: #e9ecef;
    color: #495057;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;
    }

    form {
        width: 85%; /* Ajuste para maior responsividade em telas menores */
        margin: 10px;
    }
}
